{% extends "website/base.html" %}
{% load static %}
{% block content %}



    <!-- Carousel Start -->
    <div class="container-fluid px-0 mb-5">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-8 text-start">
                                    <p class="fs-4 text-white">Welcome to mkulima bora initiative</p>
                                    <h1 class="display-1 text-white mb-5 animated slideInRight">The best farmer's self help group</h1>
                                    <a href="" class="btn btn-secondary rounded-pill py-3 px-5 animated slideInRight">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/carousel-2.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-end">
                                <div class="col-lg-8 text-end">
                                    <p class="fs-4 text-white">Welcome to mkulima bora initiative</p>
                                    <h1 class="display-1 text-white mb-5 animated slideInRight">We empower our dairy farmers </h1>
                                    <a href="" class="btn btn-secondary rounded-pill py-3 px-5 animated slideInLeft">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-end">
                <div class="col-lg-6">
                    <div class="row g-2">
                        <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                            <div class="about-experience bg-secondary rounded">
                                <h1 class="display-1 mb-0">11</h1>
                                <small class="fs-5 fw-bold">Years Experience</small>
                            </div>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded" src="{% static 'img/farmers-training.jpeg' %}">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                            <img class="img-fluid rounded" src="{% static 'img/farmers-training.jpg' %}">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                            <img class="img-fluid rounded" src="{% static 'img/nappier.jpeg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="section-title bg-white text-start text-primary pe-3">About Us</p>
                    <h1 class="mb-4">Know About MKulima Bora & Our History</h1>
                    <p class="mb-4">We are a collective of farmers who have joined forces with the aim of improving their agricultural practices 
                        and collectively producing high-quality dairy products. The history of Mkulima Bora traces back to its humble beginnings,
                         where a group of farmers recognized the value of collaboration and mutual support in achieving agricultural excellence. Through shared knowledge, resources, and expertise,
                          Mkulima Bora has evolved into a thriving community of farmers dedicated to enhancing productivity,
                          sustainability, and profitability in dairy farming. This collective effort has not only
                          transformed the lives of individual farmers but has also contributed significantly to the local agricultural landscape,
                         promoting economic growth and food security in the region.</p>
                    <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Explore More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title bg-white text-start text-primary pe-3">Why Us!</p>
                    <h1 class="mb-4">Few Reasons Why People keep Choosing Us!</h1>
                    <p class="mb-4">People continue to choose us for their dairy needs because our milk is collected directly from farmers' households,
                         eliminating the need for transport and ensuring freshness.</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Milk collected from farmers' households, reducing transport costs and ensuring freshness.</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Access to expert guidance in dairy farming practices.</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Regular training sessions provided for farmers</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Milk is sold to the highest bidders, ensuring farmers receive competitive payment for their produce.</p>
                    <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="">Explore More</a>
                </div>
                <div class="col-lg-6">
                    <div class="rounded overflow-hidden">
                        <div class="row g-0">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="text-center bg-primary py-5 px-4">
                                    <img class="img-fluid mb-4" src="img/experience.png" alt="">
                                    <h1 class="display-6 text-white" data-toggle="counter-up">11</h1>
                                    <span class="fs-5 fw-semi-bold text-secondary">Years Experience</span>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="text-center bg-secondary py-5 px-4">
                                    <img class="img-fluid mb-4" src="img/award.png" alt="">
                                    <h1 class="display-6" data-toggle="counter-up">3</h1>
                                    <span class="fs-5 fw-semi-bold text-primary">Award Winning</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->


    <!-- Banner Start -->
    <div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="{% static 'img/banner.jpg' %}">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-4">
                            <img class="img-fluid rounded" src="{% static 'img/banner-1.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h2 class="text-white mb-3">We Sell Best Dairy Products</h2>
                            <p class="text-white mb-4"> We ensure every product reflects our unwavering commitment to excellence.</p>                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-4">
                            <img class="img-fluid rounded" src="{% static 'img/banner-2.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h2 class="text-white mb-3">We collect and deliver Fresh Milk</h2>
                            <p class="text-white mb-4">Farmer bring us their milk and we sell to the highest thus having bigger rewards.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Our Services</p>
                <h1 class="mb-5">Services That We Offer</h1>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="{% static 'img/service-1.jpg' %}"alt="">
                            </div>
                            <h5 class="mb-3">Best Animal Selection</h4>
                            <p class="mb-4">Our expertise in animal selection helps breeders and farmers make informed decisions that lead to healthier,
                                 more productive livestock and sustainable agricultural practices.</p>
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/service-2.jpg' %}" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="{% static 'img/service-2.jpg' %}" alt="">
                            </div>
                            <h5 class="mb-3">Breeding & Veterinary</h5>
                            <p class="mb-4"> From providing reproductive health assessments and assistance with mating to offering veterinary care such as vaccinations,
                                 disease prevention, and medical treatments, our services cover all aspects of animal breeding and healthcare.</p>
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/farmers-training.jpg' %}" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="{% static 'img/farmers-training.jpg' %}" alt="">
                            </div>
                            <h5 class="mb-3">Seminars for farmers</h5>
                            <p class="mb-4">Through tailored programs, workshops, and hands-on guidance, we empower farmers with the tools and expertise needed to navigate challenges,
                                 improve yields, and achieve long-term success in their agricultural endeavors.</p>
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Donation Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Donations</p>
                <h1 >Make a Donation </h1>
                <h4 class="mb-5">Your Gift Saves Lives</h4>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                    <div class="card">
                        <img src="{% static 'img/dogfood.jpeg' %}" class="card-img-top rounded" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title">For Pets Food</h5>
                            <p>BlackRex is an online store that offers goods for your pets:cats, dogs, rabbits, birds and many animals</p>
                            <a href="#" class="btn btn-danger mt-2">Donate</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                    <div class="card">
                        <img src="{% static 'img/vet1.jpeg' %}" class="card-img-top rounded" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title">For Medicine</h5>
                            <p>We sell pet food, supplies, clothes and different productsby the best American and European Manufacturers</p>
                            <a href="#" class="btn btn-danger mt-2">Donate</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                    <div class="card">
                        <img src="{% static 'img/vet2.jpeg' %}" class="card-img-top rounded" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title">For Vet Visit</h5>
                            <p>This is our living and we take pride inwhat we do for you and your pets. Eveyday. Not a hobby or a temporary gig.</p>
                            <a href="#" class="btn btn-danger mt-2">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Product End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Testimonial</p>
                <h1 class="mb-5">What People Say About Us</h1>
            </div>
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-img">
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item">
                            <img class="img-fluid mb-3" src="{% static 'img/testimonial-1.jpg' %}" alt="">
                            <p class="fs-5">Farmers Best choice.</p>
                            <h5>Alex Kinyua</h5>
                            <span class="text-primary">Farmer</span>
                        </div>
                        <div class="testimonial-item">
                            <img class="img-fluid mb-3" src="{% static 'img/testimonial-2.jpg' %}" alt="">
                            <p class="fs-5">The best farmers initiative</p>
                            <h5>Bancy Murugi</h5>
                            <span class="text-primary">Teacher</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->



{% endblock %}