{% extends "website/base.html" %}
{% load static %}
{% block content %}
<style>
    .carousel-nav-icon {
   height: 48px;
   width: 48px;
}
.carousel-item {
   .col, .col-sm, .col-md {
      margin: 8px;
      height: 300px;
      background-size: cover;
      background-position: center center;
   }
}

</style>

<div class="my-5 text-center container">
    <div class="row mb-2">
       <div class="col text-center">
          <p class="lead">Donations and pricing are coming soon!!!</a></p>
       </div>
    </div>
    <div class="row d-flex align-items-center">
       <div class="col-1 d-flex align-items-center justify-content-center">
          <a href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
             <div class="carousel-nav-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
                   <path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"/>
                </svg>
             </div>
          </a>
       </div>
       <div class="col-10">
          <!--Start carousel-->
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
 
             <div class="carousel-inner">
                <div class="carousel-item active">
                   <div class="row">
                      <div style="background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/flexfun04.jpg');" class="col-12 col-md d-flex align-items-center justify-content-center">
                      </div>
                      <div style="background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/flexfun02.jpg');" class="col-12 col-md d-flex align-items-center justify-content-center">
                      </div>
                      <div style="background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/flexfun05.jpg');" class="col-12 col-md d-flex align-items-center justify-content-center" class="col-12 col-md d-flex align-items-center justify-content-center">
                      </div>
                   </div>
                </div>
                <div class="carousel-item">
                   <div class="row">
                      <div style="background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/flexfun01.jpg');" class="col-12 col-md d-flex align-items-center justify-content-center">
                      </div>
                      <div style="background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/flexfun03.jpg');" class="col-12 col-md d-flex align-items-center justify-content-center">
                      </div>
                      <div style="background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/flexfun06.jpg');" class="col-12 col-md d-flex align-items-center justify-content-center" class="col-12 col-md d-flex align-items-center justify-content-center">
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--End carousel-->
       </div>
       <div class="col-1 d-flex align-items-center justify-content-center"><a  href="#carouselExampleIndicators" data-bs-slide="next">
          <div class="carousel-nav-icon">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"/>
             </svg>
          </div>
          </a>
       </div>
    </div>
 </div>

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-end">
                <div class="col-lg-6">
                    <div class="row g-2">
                        <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                            <div class="about-experience bg-secondary rounded">
                                <h1 class="display-1 mb-0">7</h1>
                                <small class="fs-5 fw-bold">Years Experience</small>
                            </div>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded" src="{% static 'img/cat1.jpeg' %}">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                            <img class="img-fluid rounded" src="{% static 'img/vet2.jpeg' %}">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                            <img class="img-fluid rounded" src="{% static 'img/german.jpeg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="section-title bg-white text-start text-primary pe-3">About Us</p>
                    <h1 class="mb-4">Know About MKulima Bora & Our History</h1>
                    <p class="mb-4">We are a collective of farmers who have joined forces with the aim of improving their agricultural practices 
                        and collectively producing high-quality dairy products. The history of Mkulima Bora traces back to its humble beginnings,
                         where a group of farmers recognized the value of collaboration and mutual support in achieving agricultural excellence. Through shared knowledge, resources, and expertise,
                          Mkulima Bora has evolved into a thriving community of farmers dedicated to enhancing productivity,
                          sustainability, and profitability in dairy farming. This collective effort has not only
                          transformed the lives of individual farmers but has also contributed significantly to the local agricultural landscape,
                         promoting economic growth and food security in the region.</p>
                    <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Explore More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title bg-white text-start text-primary pe-3">Why Us!</p>
                    <h1 class="mb-4">Few Reasons Why People keep Choosing Us!</h1>
                    <p class="mb-4">People continue to choose us for their dairy needs because our milk is collected directly from farmers' households,
                         eliminating the need for transport and ensuring freshness.</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Milk collected from farmers' households, reducing transport costs and ensuring freshness.</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Access to expert guidance in dairy farming practices.</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Regular training sessions provided for farmers</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Milk is sold to the highest bidders, ensuring farmers receive competitive payment for their produce.</p>
                    <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="">Explore More</a>
                </div>
                <div class="col-lg-6">
                    <div class="rounded overflow-hidden">
                        <div class="row g-0">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="text-center bg-primary py-5 px-4">
                                    <img class="img-fluid mb-4" src="img/experience.png" alt="">
                                    <h1 class="display-6 text-white" data-toggle="counter-up">7</h1>
                                    <span class="fs-5 fw-semi-bold text-secondary">Years Experience</span>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="text-center bg-secondary py-5 px-4">
                                    <img class="img-fluid mb-4" src="img/award.png" alt="">
                                    <h1 class="display-6" data-toggle="counter-up">3</h1>
                                    <span class="fs-5 fw-semi-bold text-primary">Award Winning</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->


    
   


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Our Services</p>
                <h1 class="mb-5">Services That We Offer</h1>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/petgrooming.jpeg' %}" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="{% static 'img/petgrooming.jpeg' %}"alt="">
                            </div>
                            <h5 class="mb-3">Pet Grooming</h4>
                            <p class="mb-4">Grooming in our clinic is absolutely and comfortable for your pet.</p>
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/pettraining.jpeg' %}" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="{% static 'img/pettraining.jpeg' %}" alt="">
                            </div>
                            <h5 class="mb-3">Pet Training</h5>
                            <p class="mb-4"> Find the perfect kennelschedule that best suits your lifecycle.</p>
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/vet2.jpeg' %}" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="{% static 'img/vet2.jpeg' %}" alt="">
                            </div>
                            <h5 class="mb-3">Pet Vaccination</h5>
                            <p class="mb-4">We use certified vaccines and check the allergic reactions.</p>
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Donation Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Donations</p>
                <h1 >Make a Donation </h1>
                <h4 class="mb-5">Your Gift Saves Lives</h4>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                        <img src="{% static 'img/dogfood.jpeg' %}" class="card-img-top rounded" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title">For Pets Food</h5>
                            <p>BlackRex is an online store that offers goods for your pets:cats, dogs, rabbits, birds and many animals</p>
                            <a href="#" class="btn btn-danger mt-2">Donate</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                        <img src="{% static 'img/vet1.jpeg' %}" class="card-img-top rounded" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title">For Medicine</h5>
                            <p>We sell pet food, supplies, clothes and different productsby the best American and European Manufacturers</p>
                            <a href="#" class="btn btn-danger mt-2">Donate</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                        <img src="{% static 'img/vet2.jpeg' %}" class="card-img-top rounded" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title">For Vet Visit</h5>
                            <p>This is our living and we take pride inwhat we do for you and your pets. Eveyday. Not a hobby or a temporary gig.</p>
                            <a href="#" class="btn btn-danger mt-2">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Donation End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Testimonial</p>
                <h1 class="mb-5">What People Say About Us</h1>
            </div>
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-img">
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item">
                            <img class="img-fluid mb-3" src="{% static 'img/testimonial-1.jpg' %}" alt="">
                            <p class="fs-5">Farmers Best choice.</p>
                            <h5>Alex Kinyua</h5>
                            <span class="text-primary">Farmer</span>
                        </div>
                        <div class="testimonial-item">
                            <img class="img-fluid mb-3" src="{% static 'img/testimonial-2.jpg' %}" alt="">
                            <p class="fs-5">The best farmers initiative</p>
                            <h5>Bancy Murugi</h5>
                            <span class="text-primary">Teacher</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->



{% endblock %}