{% extends "website/base.html" %}

{% block content %}
<div class="container">
    <a href="{% url 'pets' %}" class="btn btn-primary mb-3"><< Back</a>
    <h2>Adopt "{{ pet.name }}"</h2>
    <img src="{{ pet.photo.url }}" alt="{{ pet.name }}">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="pet_name" value="{{ pet.name }}">
        <button type="submit" class="btn btn-primary">Submit Adoption Request</button>
    </form>
</div>
{% endblock %}
